<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dbBrain_Conn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_data\dbBrain.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>

<!-- 
connectionString ="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Access2002.mdb;"
connectionString="Data Source=App_data/dbBrain.mdf;Integrated Security=True"
<add name="connComicClub" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\dbCClub.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
<add name="dbBrain_Conn" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\dbBrain.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;User Instance=True" providerName="System.Data.SqlClient" />

<add name="dbBrain_Conn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_data\dbBrain.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
-->